@charset "ISO-8859-1";
body {
    background-color: white;
    background-size:cover;
    background-image:
		url("https://wallpaperaccess.com/full/7257319.jpg");
	min-height: 680px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

h3{
    text-align:center;
    font-size:23px;
    color:white;
    font-weight:800;
}
.container{
    width: 500px;
    background-color: #0096FF;
    height: 620px;
    border: 3px solid black;
    margin-left: 30%;
    border-radius: 10%;
    position: relative;
    box-shadow: 5px 3px 5px 3px;
}
h1{
	color:white;
    text-align:center;
    font-size:30px;
    font-weight:900;
}
.add-form{
    margin-top:2%;
    margin-left:10%;
}
.add-form label {
    font-family: "Trirong", serif;
    font-size: 25px;
    font-weight:800;
    color: black;
}
.add-form input {
    width: 200px;
    height: 27px;
}
.add-form button {
    margin-left:13%; 
    border-radius : 25px;
    background: cyan;
    color: black;
    padding: 10px;
    width: 120px;
}

.form{
    margin-top:5%;
    margin-left: 30%;
}
.form label {
    margin-left: 14%;
    font-family: "Trirong", serif;
    font-size: 20px;
    font-weight:800;
    color: white;
    text-align: center;
}

.form input {
    text-align: center;
    width: 200px;
    height: 27px;
    border-radius: 10px;
}

.form select {
    width: 200px;
    height: 27px;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  margin:auto; 
  float: center;
  width: 60%;
}
button {
    margin:auto; 
    border-radius : 18px;
    background: cyan;
    color: black;
    padding: 10px;
    width: 120px;
}